.dashboard {
  &-header-title {
    color: #ffffff;
    padding-top: 10px;
  }

  &-header-sub-title {
    color: white;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &-top-block {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem; // offset the item padding/margin
    &-item {
      flex: 0 0 calc(100% / 3);
      box-sizing: border-box;
      padding: 1rem;
    }
  }

&-bottom {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  gap: 1rem;
}

&-bottom-left {
  flex: 1 1 calc(50% - 0.5rem); // half the gap, since there's one gap shared between two items
  box-sizing: border-box;
  padding: 1rem;

  &-header{
    color:white;
  }
}

&-bottom-right {
  flex: 1 1 calc(50% - 0.5rem);
  box-sizing: border-box;
  padding: 1rem;
}
}
