* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard-card{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid white;
    background-color:#161b27 ;
    padding: 5px;
    

    &-icon{
        color:#50a2ff;
        background-color: #1c283d;
        width: 30px;
        padding:2px;
    }

    &-title{
         color: #61738d;
         text-transform: uppercase;
         padding:2px;
    }

    &-value{
        color: #00bbfe;
        padding: 2px;
        font-size: 24px;
        font-weight: 500;
    }
}
